@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';

/*
 * Bootstrap overrides.
 */
@link-hover-decoration: none;
 
@text-color: #6a6a6a;
@font-family-base: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@link-color: #4e545f;
@link-hover-color: #141718;

@navbar-default-bg: #fff;
@navbar-default-link-color: #353f44;
@navbar-default-link-hover-bg: #f6f7f7;
@navbar-default-link-active-bg: #f6f7f7;

@btn-default-color: #58666e;
@btn-default-border: #dee5e7;

@btn-primary-color: #fff;
@btn-primary-bg: #7266bb;
@btn-primary-border: #7266bb;

@btn-success-color: #fff;
@btn-success-bg: #27d24b;
@btn-success-border: #27d24b;

@btn-info-color: #fff;
@btn-info-bg: #23b7f5;
@btn-info-border: #23b7f5;

@btn-warning-color: #fff;
@btn-warning-bg: #fac732;
@btn-warning-border: #fac732;

@btn-danger-color: #fff;
@btn-danger-bg: #f15051;
@btn-danger-border: #f15051;

@panel-default-border: #dee5e7;
@panel-border-radius: 2px;
@panel-default-heading-bg: #f6f8f8;

@screen-sm: 800px;

/* layout */
html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  margin-left: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.app-container,.app-content,.main-container  {
  display: flex;
  flex: 1;
}
.main-content {
  flex: 1;
  display: flex;
}
.flex {
  display: flex;
  flex: 1;
}
.flex.flex-verticle {
  flex-direction: column;
}
.flex.flex-horizontal {
  flex-direction: row;
}
.flex-scroll {
  flex: 1;
  overflow-y: auto;
}

/* fix */
.glyphicon {
  color: #b9b9b9;
}
.page-header {
    margin: 10px 0;
    padding-bottom: 10px;
}

/* ui animate */
.animated {
  animation-fill-mode: both;
  animation-duration: 0.5s;
}
@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  20%, 60% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 80% {
    transform: translate3d(4px, 0, 0);
  }
}
.shake {
  animation-name: shake;
}

/* tool */
.tag {
  color: #fff;
}
.tag.tag-success {
  background-color: #76b480;
}
.tag.tag-danger {
  background-color: #f1867e;
}

/* signin */
.form-signin {
  width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 10px;
}

/*nav bar*/
.navbar-vertical-left {
  position: fixed;
  left: 0;
  height: 100%;
  width: 60px;
  border: none;
  border-radius: 0;
  margin: 0;
  z-index: 999;
}
.navbar-vertical-left .navbar-header {
  width: 100%;
  margin-bottom: 60px;
}
.navbar-vertical-left a.navbar-brand {
  color: #fff;
}
.navbar-vertical-left .navbar-nav {
  width: 100%;
  height: 60%;
  display: table;
  margin: 0;
}
.navbar-vertical-left .navbar-nav:before,
.navbar-vertical-left .navbar-nav:after {
  display: none;
}
.navbar-vertical-left .navbar-nav > li {
  display: table-row;
  float: none;
}
.navbar-vertical-left .navbar-nav > li > a {
  display: table-cell;
  vertical-align: middle;
}
.navbar-vertical-left {
  background: #7266bb;
  color: #ecf0f1;
}
.navbar-vertical-left .navbar-nav a {
  background: #7266bb;
}
.navbar-vertical-left .navbar-nav a:focus,
.navbar-vertical-left .navbar-nav a:hover {
  background: #58666f;
}
.navbar-vertical-left .navbar-nav a.active,
.navbar-vertical-left .navbar-nav a.active:focus,
.navbar-vertical-left .navbar-nav a.active:hover {
  background: #58666f;
}
.navbar-vertical-left .navbar-nav > li > a > i {
  color: #ecf0f1;
  font-size: 28px;
}

/* .searchbar */
.searchbar {
  padding: 10px 12px;
}
.searchbar > i.glyphicon {
  position: absolute;
  top: 0;
}

/* sidebar */
.sidebar {
  width: 240px;
  background: #ecf0f1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.sidebar-header { 
  line-height: 40px;
  font-size: 18px;
  padding: 0 12px;
  padding-right: 0;
}
.sidebar-body {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

/* section */
.section-header {
  padding: 0 12px;
  line-height: 40px;
}
.section-body {
  list-style-type: none;
  padding: 0;
}
.section-item {
  padding-left: 40px;
  line-height: 40px;
}
.section-header:hover, .section-item.active, .section-item:hover {
    background: #e6e6e6;
    text-decoration: none;
}
.section a:hover {
  text-decoration: none;
}
.section a {
  display: block;
}

/* entry list */
.entry-group {
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  padding: 12px 0;
}
.group-header {
  padding: 5px 0;
}
.group-body {
  list-style-type: none;
  padding: 0;
}
.entry-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: solid 1px #e6e6e6;
  border-left: solid 2px #fff;
  cursor: pointer;
}
.entry-item:hover {
  background: #f6f8f8;
  border-left-color: #7266bb;
}
.entry-title {
  flex: 1;
  line-height: 30px;
  white-space: nowrap;
}
.entry-tags > span {
  background: #ecf0f1;
  border-radius: 2px;
  padding: 4px 10px;
  font-size: 13px;
  white-space: nowrap;
  margin-left: 8px;
}

/*form*/
.smart-form {
  display: flex;
  flex-direction: column;
}
.smart-form .form-item {
  display: flex;
  padding: 5px 0;
}
.form-item > .item-label {
  width: 50px;
}
.form-item > .item-content {
  flex: 1;
}
.form-title {
  font-weight: bolder;
}

/*overlay*/
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
}

/*popbox*/
.popbox-container {
  display: none;
  position: fixed;
  z-index: 1100;
  
  &.active {
    display: block;
  }
}

.popbox {
  position: absolute;
  z-index: 1101;
  background: #fff;
  min-width: 280px;
  box-shadow: 0 0 24px rgba(0,0,0,.18);
}

/*tabs*/
.nav-tabs.flat {
  padding: 10px 0px;
  border: none;
  display: flex;
  flex-direction: row;
}
.nav-tabs.flat > li {
  float: left;
  margin-bottom: 0;
  flex: 1;
}
.nav-tabs.flat > li > a,
.nav-tabs.flat > li > a:hover,
.nav-tabs.flat > li > a:focus {
  padding: 0 15px;
  text-align: center;
  background: none;
  border: none;
  border-radius: 0;
  border-right: solid 1px #b9b9b9;
  color: #b9b9b9;
}
.nav-tabs.flat > li:last-child > a {
  border-right: none;
}
.nav-tabs.flat > li.active > a, 
.nav-tabs.flat > li.active > a:hover, 
.nav-tabs.flat > li.active > a:focus {
  border-color: transparent;
  border-right: solid 1px #b9b9b9;
  color: #000;
}
.nav-tabs.flat > li.active:last-child > a {
  border-right: none;
}

/*selector*/
.selector-container {
  padding: 10px;
}
.selector-search {
  padding: 5px 0px;
}
.selector-search .form-control {
  border-color: #f3f3f3;
  box-shadow: none;
}
.selector-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.selector-list > li {
  background-color: transparent;
}
.selector-list > li.active,
.selector-list > li:hover {
  background-color: #f4f4f4;
}
.selector-list > li a,
.selector-list > li a:hover,
.selector-list > li a:active {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
}
