@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';

/*
 * Bootstrap overrides.
 */
@text-color: #6a6a6a;
@font-family-base: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@link-color: #4e545f;
@link-hover-color: #141718;

@navbar-default-bg: #fff;
@navbar-default-link-color: #353f44;
@navbar-default-link-hover-bg: #f6f7f7;
@navbar-default-link-active-bg: #f6f7f7;

@btn-default-color: #58666e;
@btn-default-border: #dee5e7;

@btn-primary-color: #fff;
@btn-primary-bg: #7266bb;
@btn-primary-border: #7266bb;

@btn-success-color: #fff;
@btn-success-bg: #27d24b;
@btn-success-border: #27d24b;

@btn-info-color: #fff;
@btn-info-bg: #23b7f5;
@btn-info-border: #23b7f5;

@btn-warning-color: #fff;
@btn-warning-bg: #fac732;
@btn-warning-border: #fac732;

@btn-danger-color: #fff;
@btn-danger-bg: #f15051;
@btn-danger-border: #f15051;

@panel-default-border: #dee5e7;
@panel-border-radius: 2px;
@panel-default-heading-bg: #f6f8f8;

@screen-sm: 800px;

html, body {
  height: 100%;
  margin: 0px;
}

body{
  display: flex;
  margin-left: 60px;
}

.app-container,.app-content {
  display: flex;
  flex: 1;
}

.glyphicon {
  color: #b9b9b9;
}

/*nav bar*/
.navbar-vertical-left {
  position: fixed;
  left: 0px;
  height: 100%;
  width: 60px;
  border: none;
  border-radius: 0;
  margin: 0;
  z-index: 999;
}

.navbar-vertical-left .navbar-header {
  width: 100%;
  margin-bottom: 60px;
}

.navbar-vertical-left a.navbar-brand {
  color: #fff;
}

.navbar-vertical-left .navbar-nav {
  width: 100%;
  height: 60%;
  display: table;
  margin: 0;
}

.navbar-vertical-left .navbar-nav:before,
.navbar-vertical-left .navbar-nav:after {
  display: none;
}

.navbar-vertical-left .navbar-nav > li {
  display: table-row;
  float: none;
}

.navbar-vertical-left .navbar-nav > li > a {
  display: table-cell;
  vertical-align: middle;
}

.navbar-vertical-left {
  background: #7266bb;
  color: #ecf0f1;
}

.navbar-vertical-left .navbar-nav a {
  background: #7266bb;
}

.navbar-vertical-left .navbar-nav a:focus,
.navbar-vertical-left .navbar-nav a:hover {
  background: #58666f;
}

.navbar-vertical-left .navbar-nav a.active,
.navbar-vertical-left .navbar-nav a.active:focus,
.navbar-vertical-left .navbar-nav a.active:hover {
  background: #58666f;
}

.navbar-vertical-left .navbar-nav > li > a > i {
  color: #ecf0f1;
  font-size: 28px;
}

.main-container {
  display: -webkit-flex;
  flex: 1;
}

.main-content {
  flex: 1;
}

.searchbar {
  padding: 8px 12px;
}

.searchbar > i.glyphicon {
  position: absolute;
  top: 0px;
}

/* sidebar */
.sidebar {
  width: 240px;
  background: #ecf0f1;
  font-size: 14px;
}

.sidebar-header { 
  line-height: 34px;
  font-size: 18px;
  padding: 0 12px;
}

/* section */
.section-header {
  padding: 0px 12px;
  line-height: 40px;
}
ul.section-body {
  list-style-type: none;
  padding: 0px;
}
.section-item {
  padding-left: 40px;
  line-height: 40px;
}
.section-header:hover, .section-item.active, .section-item:hover {
    background: #e6e6e6;
    text-decoration: none;
}
.section a:hover {
  text-decoration: none;
}
.section a {
  display: block;
}